<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Graph.Core" version="1.15.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net45" />
  <package id="Microsoft.Graph" version="1.16.0" targetFramework="net45" />
  <!-- <package id="Microsoft.Graph.Auth" version="1.0.0-preview.0" /> -->
  <!-- <package id="Microsoft.Identity.Client" version="3.0.8" /> -->
  <!-- <package id="System.Security.Principal" version="4.3.0" /> -->
</packages>